/*Produtos*/
/*Relação de todos os produtos*/
.produto_container{
    width: auto;
    background-image:url(../assets/back.jpg);
    opacity:0.5;
    max-height: 648px;
}

.produto_card_container{
    gap: 16px;
    border-radius: 20px;
    display:flex;
    flex-wrap:row;
}

.box{
    box-sizing: border-box;
    background: rgb(198, 237, 194);
    width: 300px;
    border-radius: 3px;
    text-align: center;
}

h1 {
    font-weight: bold; 
}