/*Adicionar produtos rgb(198, 237, 194); */
.produto_container{
    padding: 1rem;
    height: 55rem;
}

.produto_container h1{
    font-size:1rem ;
    font-weight:600 ;
}

.box{
    box-sizing: border-box;
    background:#f7f7f7;
    width: 300px;
    border-radius: 3px;
    text-align: center;
}